body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f39c12;
}
h1 {
    margin: 0 0 0.25em;
}
/* Reset Select */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #FFFFFF;
    background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
    display: none;
}
/* Custom Select */
.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: .25em;
}
select {
    flex: 1;
    padding: 0 .5em;
    color: #FFFFFF;
    cursor: pointer;
}
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #FFFFFF;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
/* Transition */
.select:hover::after {
    color: #f39c12;
}



/*/ The container /*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 0.3em 0.3em 1.1em 0.3em !important;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*/ Hide the browser's default checkbox /*/
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*/ Create a custom checkbox /*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/*/ On mouse-over, add a grey background color /*/
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/*/ When the checkbox is checked, add a blue background /*/
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/*/ Create the checkmark/indicator (hidden when not checked) /*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/*/ Show the checkmark when checked /*/
.container input:checked ~ .checkmark:after {
    display: block;
}

/*/ Style the checkmark/indicator /*/
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}